.App {
  margin: 0;
}

/*Header*/

.navbar {
  background-color: white;
}

.navbar > .nav-item > .nav-link {
  font-size: 1.2em !important;
  color: #303030;
}

.navbar-nav .nav-item .nav-link:link {
  color: #303030; 
}

.navbar-nav .nav-item .nav-link:visited {
  color: #303030;
  text-decoration: underline; 
}

.navbar-nav .nav-item .nav-link:hover {
  color: #005050;
  text-decoration: underline; 
}

.navbar-nav .nav-item .nav-link:active {
  color: #005050;
  text-decoration: underline; 
}

.navbar-nav .nav-item .nav-link:focus {
  color: #005050;
  text-decoration: underline; 
}

/* footer */

.site-footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  min-height: 70vh;
  display: flex;
  font-size: calc(10px + 2vmin);
}

.container-footer {
  margin-top: 50px;
  margin-bottom: 0px;
  margin-left: 50px;
  margin-right: 50px;
}

.footer-link {
  font-size: 20px;
  color: #B2DFDB;
}

.footer-link:link{
  color: #B2DFDB;
}

.footer-link:visited{
  color: #B2DFDB;
}

.footer-link:hover{
  color: #009688;
}

.footer-link:active{
  color: #009688;
}

.footer-link:focus{
  color: #009688;
}

/* dev-link */

.dev-link {
  margin: 0;
  color: #B2DFDB;
  text-decoration: none;
  
}

.dev-link:link{
  color: #B2DFDB;
  text-decoration: none;
}

.dev-link:visited{
  color: #B2DFDB;
  text-decoration: none;
}

.dev-link:hover{
  color: #009688;
  text-decoration: none;
}

.dev-link:active{
  color: #009688;
  text-decoration: none;
}

.dev-link:focus{
  color: #009688;
  text-decoration: none;
}

/* 
Scroll to top
*/

.scroll-to-top {
  margin:25px;
  position: relative;
  left: 50%;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #009688;
  color: #fff;
  z-index: 1;
}
.scroll-to-top .icon {
  margin-top: 10px;
  animation: scrollTop 0.5s alternate ease infinite;
}
@keyframes scrollTop {
  from {
      transform: translateY(2px);
  }
  to {
      transform: translateY(-1px);
  }
}

/*section 1 */
.jumbotron {
  margin: 0em;
  background-color: #009688;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.jumbotron h2 {
  color: #B2DFDB;
}

.aboutus-container {
  margin: 0em;
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.portfolio-container {
  margin: 0em;
  background-color: blueviolet;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.contato-container-desc {
  margin-top: 65px;
}