.App {
  margin: 0;
}

/*Header*/

.navbar {
  display: flex;
  align-items: center;
  padding: 0.5rem 2.5rem;
  z-index: 2;
  width: 100%;
  background:white;

}

.navbar > .nav-item > .nav-link {
  font-size: 1.2em !important;
  color: #303030;
}

.navbar-nav .nav-item .nav-link:link {
  color: #303030; 
}

.navbar-nav .nav-item .nav-link:visited {
  color: #303030;
  text-decoration: underline; 
}

.navbar-nav .nav-item .nav-link:hover {
  color: #005050;
  text-decoration: underline; 
}

.navbar-nav .nav-item .nav-link:active {
  color: #005050;
  text-decoration: underline; 
}

.navbar-nav .nav-item .nav-link:focus {
  color: #005050;
  text-decoration: underline; 
}

/* footer */

.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  min-height: 35vh;
  display: flex;
  font-size: calc(10px + 2vmin);
}

.footer-link-label {
  font-weight: 900;
  color: #B2DFDB;
}

.footer-link {
  font-size: 20px;
  color: #B2DFDB;
}

.footer-link:link{
  color: #B2DFDB;
}

.footer-link:visited{
  color: #B2DFDB;
}

.footer-link:hover{
  color: #009688;
}

.footer-link:active{
  color: #009688;
}

.footer-link:focus{
  color: #009688;
}

/* modal map */
.modal-content {
  background-color: transparent;
  border: transparent;
  color: white;
  height: 450px;
}

.modal-body {
  position: relative;
}

/* dev-link */

.dev-link {
  color: #B2DFDB;
  text-decoration: none;
  font-size: 15px;
  
}

.dev-link:link{
  color: #B2DFDB;
  text-decoration: none;
}

.dev-link:visited{
  color: #B2DFDB;
  text-decoration: none;
}

.dev-link:hover{
  color: #009688;
  text-decoration: none;
}

.dev-link:active{
  color: #009688;
  text-decoration: none;
}

.dev-link:focus{
  color: #009688;
  text-decoration: none;
}

/* 
Scroll to top
*/

.scroll-container {
  justify-content: flex-end;
  display:flex;
  padding-bottom: 20px;
}

.scroll-to-top {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #009688;
  color: #fff;
  z-index: 1;
}
.scroll-to-top .icon {
  font-size: 15px;
  animation: scrollTop 0.5s alternate ease infinite;
}

@keyframes scrollTop {
  from {
      transform: translateY(2px);
  }
  to {
      transform: translateY(-1px);
  }
}

/*section 1 */

.carousel.carousel-slider .control-arrow {
  top: 0;
  color: #fff;
  font-size: 26px;
  top: 40%;
  margin-top: 0;
  margin-left: 50px;
  margin-right: 50px;
  padding: 5px;
  height: 50px;
  width: 50px;
  opacity: .5;
  background-color: #000;
  transition: opacity .15s ease;
  z-index: 1;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.6);
  font-weight: bold;
  right: 0%;
  left: 30%;
  bottom: 10%;
  padding: 20px; 
}

/* section 2*/
.aboutus-container {
  margin: 0em;
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 30px;
}

.text {
  font-size: 18px;
}

/* table */
.photos {
  padding: 20px;
}

/*section 3 */


/*section 4 */

.client-container {
  margin: 0em;
  background-color: #007575;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title-section {
  font-weight: bold;
  margin-top: 85px;
}

@media (max-width: 575.98px) { 
  .scroll-container {
    justify-content: center;
    display:flex;
  }

  .carousel.carousel-slider .control-arrow {
    color: #fff;
    font-size: 26px;
    top: 20%;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
    height: 45px;
    width: 45px;
  }


  .carousel-caption {
    background: rgba(0, 0, 0, 0.6);
    right: 0%;
    left: 30%;
    bottom: 10%;
    padding: 10px;
  }
}